@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background-color: #000000;
    color: #5c5e66;
}


.location-details{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    font-weight: 700;
    
}

.long-lat{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    color: #5c5e66;
}


.logi , .hostOrg{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    flex-direction: column;
    row-gap: 1rem;
}
.lati{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    flex-direction: column;
    row-gap: 1rem;
}

.maps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #575a85;
    height: 45vw;
}
.maps h1{
    margin-bottom: 25px;
    margin-top: -32px;
    background-color: transparent;
    color: #fff;

}

.gmap{
    width: 100%;
    height: auto;
    display: contents;
}

.gmap iframe{
    width: 90%;
    height: 70%;
}


.user-info{
    margin: 2rem;
    color: #5c5e66;
}

.user-info h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}

.user-info p{
    line-height: 1.8;
    font-size: x-large;
    font-weight: 600;
}

.post-offices h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.searchbar{
    display: flex;
    align-items: center;
    margin: 1.2rem;
    border: 3px solid #575A92;
}

.searchbar input{
width: 100%;
height: 2.2rem;
border: none;
outline: none;

}

.fa-magnifying-glass{
    margin: 10px
}

#post-office-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.card1, .card2{
    background-color: #575A85;
    width: 24rem;
    height: 11rem;
    line-height: 1.5;
    padding-left: 20px;
    padding-top: 12px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 21px;


    
}

.card1 p, .card2 p{
    background-color: transparent;
    color: #fff;
}

.card1 span, .card2 span{
    background-color: transparent;
    color: #fff;
}